{% for item in site.nav %}

	{% if item.subfolderitems %}
	
		{% assign nav_title = item.title %}
	
		{% for entry in item.subfolderitems.items %}
			{% if entry.url == page.url %}
				{% assign nav_title = entry.title %}
			{% endif %}
		{% endfor %}

		<div id="thisNavBar" class="navbar-menu">
			<div class="navbar-item has-dropdown">
				<a class="navbar-link is-hidden-mobile is-hidden-touch">{{ item.title }}</a>

				<div class="navbar-dropdown">
					{% for entry in item.subfolderitems.items %}

						{% if entry.url == page.url %}
							<a class="navbar-subitem is-active" href="{{ entry.url }}">
						{% else %}
							<a class="navbar-subitem" href="{{ entry.url }}">
						{% endif %}
								<span class="navbar-subitem-content">
									<span class="navbar-subitem-title">{{ entry.title }}</span>
									{% if entry.description %}
										<span class="navbar-subitem-description">{{ entry.description }}</span>
									{% endif %}
								</span>
							</a>	
					{% endfor %}


					{% comment %}
						these items are added on to the mobile nav dropdown
					{% endcomment %}

					{% for item in site.nav %}
						{% if item.is_mobile_nav_item %}

						{% if item.url == page.url %}
							<a class="navbar-subitem is-active is-hidden-desktop" href="{{ item.url }}">
						{% else %}
							<a class="navbar-subitem is-hidden-desktop" href="{{ item.url }}">
						{% endif %}

								<span class="navbar-subitem-content">
									<span class="navbar-subitem-title">{{ item.title }}</span>
									{% if item.description %}
										<span class="navbar-subitem-description">{{ item.description }}</span>
									{% endif %}
								</span>
							</a>
						{% endif %}
					{% endfor %}
				</div>

			</div>
		</div>        
	
	{% else %}
	
		<a class="navbar-item is-hidden-touch" href="{{ item.url }}">{{ item.title }}</a>
	
	{% endif %}

{% endfor %}