.content {
	background: #fff;
	border-radius: 5px;
	letter-spacing: normal;
	line-height: 1.5;
	margin: 0 auto 2.5rem;
	padding: 1.5rem 3.75rem 3.75rem;
	position: relative;
	
	h1 {
		color: $color-mediumpurple;
		font-family: $font-family;
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 0.5px;
		line-height: 105%;
		text-align: left;
	}
	
	h2 {
		color: $color-mediumpurple;
		font-family: $font-family;
		font-size: 1.75rem;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 0.5px;
		line-height: 106%;
		text-align: left;
	}

	h3 {
		color: $color-mediumpurple;
		font-family: $font-family;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 500;
		letter-spacing: 0.5px;
		line-height: 106%;
		text-align: left;
	}

	h4 {
		color: $color-electricpurple;
		font-family: $font-family;
		font-size: 1.2rem;
		font-style: normal;
		font-weight: 500;
		letter-spacing: 0.5px;
		line-height: 106%;
		text-align: left;
		text-transform: uppercase;
	}	
		
	p,
	li,
	strong {
		color: $color-darkpurple;
		font-family: $font-family;
	}

	strong {
		font-weight: 500;
		letter-spacing: 0.03em;
	}

	.post-opener p {
		color: $color-mediumpurple;
		font-family: $font-family-secondary;
		font-size: 0.8125rem;
		font-weight: 600;
		letter-spacing: 0.1em;
		line-height: 0.9375rem;
		margin-bottom: 1.25rem;
		text-transform: uppercase;
	}
}

.post-content > ul > li {
	list-style: none;
}

.post-content>ul>li::before {
	color: $color-darkpurple;
	content: '•';
	display: inline-block;
	font-size: 1.7rem;
	font-weight: bold;
	left: 5px;
	margin-bottom: -1em;
	margin-left: -1em;
	position: relative;
	width: 1em;
}

li > ul > li {
	list-style: none;
}

li > ul > li::before {
	color: $color-darkpurple;
	content: '◦';
	display: inline-block;
	font-size: 1.8rem;
	font-weight: bold;
	left: 5px;
	margin-bottom: -1em;
	margin-left: -1em;
	position: relative;
	top: 2px;
	width: 1em;
}

@media screen and (min-width: 1025px) {
	.container .column.is-8 {
		width: $content-width;
	}
}

@media screen and (max-width: 1024px) {
	.content {
		h1 {
			font-size: 2.25rem;
			letter-spacing: 0.5px;
			line-height: 105%;
			text-align: left;
		}
	
		h2 {
			font-size: 1.5rem;
			letter-spacing: 0.5px;
			line-height: 106%;
			text-align: left;
		}

		p,
		li,
		strong {
			font-size: 1.2rem;
			letter-spacing: 0.02em;
		}

		.post-opener p {
			font-size: 0.8rem;
			letter-spacing: 0.1em;
			line-height: 0.3rem;
		}

		ul,
		ul ul {
			margin-top: 0;
		}
	}
}
