.navbar-subitem {
	border-bottom: 1px solid #f4eee9;
	display: flex;
	padding: 1rem 2rem;
	transition: all 0.2s ease-in;

	&:hover {
		background-color: rgba($color-lilac, 0.3);
		transition: all 0.2s ease-in;
	}

	&:hover .navbar-subitem-title {
		color: $color-mediumpurple;
	}

	&:hover .navbar-subitem-description {
		color: $color-mediumpurple;
	}

	&-content {
		margin-left: 2px;
	}

	&-icon {
		align-items: center;
		background-color: #ece6ff;
		border-radius: 52px;
		color: $color-mediumpurple;
		display: flex;
		font-size: 1rem;
		height: 29px;
		justify-content: center;
		margin-right: 0.5rem;
		padding-bottom: 0.06rem;
		width: 29px;
	}

	&-title {
		color: $color-mediumpurple;
		display: block;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 1.4rem;
	}

	&-description {
		color: $color-dustylavender;
		font-size: 0.875rem;
	}
}

.navbar-dropdown .navbar-subitem.is-active {
	background-color: $color-mediumpurple;

	.navbar-subitem-description {
		color: #fff;
	}

	.navbar-subitem-title {
		color: #fff;
	}
}
